.genderIconFemale{
    -fx-shape: "M6401.2,4893c-83.5-78-122.5-183.7-122.5-317.4c0-178.2,61.2-261.7,595.7-807.4l595.8-606.9l-707.1-707.1L6056,1747l-211.6,128.1c-373.1,228.3-868.6,451-1208.2,540.1c-434.3,111.4-1330.8,111.4-1776.2-5.6C1813.1,2142.3,972.3,1457.5,482.3,466.3C-570-1655.1,643.8-4177.5,2976.8-4706.4c807.4-183.7,1620.3-77.9,2411,306.2c384.2,189.3,562.4,322.9,946.6,712.7c751.7,757.3,1057.9,1497.8,1057.9,2566.9c0,757.2-172.7,1341.9-623.7,2071.3l-128,211.6l707.1,707.2l707.2,707.1l606.8-595.7c545.7-534.6,629.2-595.8,807.4-595.8c150.4,0,228.4,39,311.9,144.8c217.1,272.9,167,378.6-495.6,1046.8l-606.9,618.1l606.9,618c673.7,679.3,729.4,801.8,473.3,1052.4c-256.1,261.7-384.2,200.4-1057.9-473.3l-606.9-612.5l-623.7,612.5C6802.1,5054.4,6651.8,5126.9,6401.2,4893z M4508.1,1557.7c1447.7-395.3,2338.6-1932.1,1965.5-3374.2c-200.5-757.3-774-1481.1-1436.6-1809.6C3138.3-4556.1,983.5-3247.6,972.3-1148.4C955.6,711.3,2715.1,2058.8,4508.1,1557.7z";
    -fx-background-color: #ffb2d8;
}

.genderIconMale{
    -fx-shape: "M6401,4880.2c-156-167.2-161.6-445.7-11.2-596.2c100.3-100.3,183.8-111.4,1058.6-111.4c523.8,0,947.2-16.7,947.2-44.6c0-22.3-529.3-568.3-1170.1-1209.1L6055.5,1748.9l-183.9,105.9c-830.2,495.9-1337.2,646.3-2122.8,646.3c-1047.5,0-1794.1-312-2546.3-1058.6c-390-384.4-523.8-562.7-713.2-947.2C-680.6-1900.5,912.8-4625.1,3576.1-4781.1c651.9-39,1192.4,78,1810.8,378.9c384.5,189.5,562.8,323.2,947.2,713.2c746.6,752.2,1058.6,1498.7,1058.6,2546.2c0,785.6-150.4,1292.6-646.3,2122.9l-105.9,183.9L7810.6,2334C8451.3,2974.7,8997.4,3504,9019.7,3504c27.9,0,44.6-423.5,44.6-947.2c0-874.8,11.2-958.3,111.4-1058.6c167.1-167.2,462.4-150.4,607.3,33.4c111.4,144.9,117,217.3,117,1677.1v1526.6l-139.3,133.7L9627,5008.4H8072.5C6523.6,5008.4,6518,5008.4,6401,4880.2z M4411.9,1581.8c1080.9-278.6,1883.2-1119.9,2095-2189.7c362.2-1866.5-1275.9-3582.6-3148-3298.5C1782-3666.8,690-2140.1,1007.6-619C1130.2-39.6,1386.4,450.7,1759.8,824C2467.4,1531.6,3481.4,1821.4,4411.9,1581.8z";
    -fx-background-color: #a0e7ff;
}

.genderIconNeutral{
    -fx-shape: "M6752.3,4945.1c-90.8-90.8-84.3-262.8,9.7-350.4c71.4-68.1,107.1-71.4,626.1-71.4h548.3l-700.7-700.8l-700.8-700.8l-204.4,133c-324.4,210.9-658.6,305-1086.8,305c-402.3,3.2-655.3-51.9-970-210.9c-525.6-266-882.4-674.8-1077.1-1242.5c-81.1-230.3-90.8-305-90.8-665.1s9.7-434.7,90.8-665.1c162.2-473.7,428.2-824,817.5-1086.8c136.3-87.6,282.2-171.9,324.4-181.7c94.1-26,227.1,55.1,279,168.7c55.1,120-9.7,220.6-246.6,369.9c-720.2,454.2-983,1349.6-619.6,2095.8c207.6,425,558,726.7,999.2,863c184.9,55.1,282.3,64.9,558,51.9c298.5-13,356.9-25.9,580.7-133C7144.8,2327,7174,623.8,5938-18.6c-256.3-133-288.7-168.7-288.7-324.4c0-107.1,129.8-227.1,243.3-227.1c129.8,0,532.1,230.3,749.4,431.5c327.6,301.7,551.5,671.6,645.6,1067.4c55.1,243.3,61.7,730,13,973.3c-35.7,168.7-223.9,600.2-343.9,781.8l-58.4,87.6l681.3,681.3c373.1,376.3,691,681.3,704,681.3c16.2,0,25.9-246.6,25.9-545c0-528.8,3.2-548.3,74.6-616.4c107.1-100.6,259.5-94.1,343.9,13c64.9,84.4,68.1,126.5,68.1,970s-3.2,885.7-68.1,970l-64.9,84.4h-924.6C6859.3,5010,6813.9,5006.8,6752.3,4945.1z  M2323.9,2035c-340.6-181.7-713.7-564.5-888.9-918.1c-308.2-629.4-308.2-1288,0-1914.1c107.1-214.1,194.6-330.9,399-535.3c343.9-340.6,642.4-499.6,1164.7-613.2l87.6-19.5v-580.7v-580.7l-499.6-13c-434.7-9.7-509.3-16.2-567.7-71.4c-103.8-94.1-94.1-285.5,16.2-373.1c77.9-61.6,129.8-68.1,567.7-68.1h483.4v-483.4c0-438,6.5-489.9,68.1-567.7c84.4-107.1,256.3-116.8,353.6-19.5c58.4,58.4,64.9,107.1,64.9,567.7v502.9h470.4c519.1,0,606.7,22.7,668.3,171.9c32.4,77.9,32.4,110.3-6.5,181.7c-81.1,142.7-171.9,165.4-668.3,165.4h-463.9v584v584l90.8,16.2c246.6,48.7,642.4,201.2,824.1,317.9c402.3,266,697.5,642.3,862.9,1099.8c110.3,311.4,136.3,837,55.2,1177.6c-133,580.7-558,1135.5-1070.6,1391.8c-142.8,74.6-181.7,81.1-259.5,51.9c-116.8-45.4-175.2-123.3-178.4-233.6c0-107.1,77.9-191.4,266-288.7c317.9-162.2,648.8-609.9,755.9-1018.7c184.9-717-178.4-1505.3-850-1839.5c-658.6-330.9-1401.5-201.2-1897.9,324.4c-243.3,259.5-363.3,480.1-431.5,801.3c-58.4,282.3-58.4,366.6,0,648.8c103.8,489.9,421.7,914.9,846.7,1122.5c314.7,155.7,386.1,308.2,223.8,467.2C2703.5,2184.3,2593.2,2174.5,2323.9,2035z";
    -fx-background-color: #e6aeff;
}

.stateLabel{
    -fx-background-color: #a4a4a4;
    -fx-text-fill: #616161;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
}

.stateLabel_physical{
    -fx-background-color: #baffbf;
}

.stateLabel_mental{
    -fx-background-color: #bdffff;
}


.propertyNameLabel {
    -fx-background-radius: 5;
    -fx-effect: innershadow(gaussian, grey, 6, 0, 0, 0);
    -fx-background-color: linear-gradient(from 0px 0px to 30px 50px, white 10%, #f4f4f4 50%, white 55%);
}

.propertyValueTextField:disabled, .propertyAdjustTextField:disabled {
    -fx-opacity: 1;
    -fx-background-insets: none;
    -fx-background-color: none;
}

.propertyAdjustTextField:disabled .content:disabled {
    -fx-background-color: none;
}



.propertyTextarea {
    -fx-text-fill: dimgray;
    -fx-background-insets: none;
    -fx-background-color: none;
}

.propertyTextarea .content {
    -fx-background-color: none;
}

.propertyColumn {
    -fx-border-width: 2 0 1 0;
    -fx-border-color: white transparent lightgray transparent;
}

.propertyTopColumn {
    -fx-border-width: 0 0 1 0;
}

.propertyBottomColumn {
    -fx-border-width: 2 0 0 0;
}






.table-view .table-column {
    -fx-alignment: CENTER;
}














/*滚动条*/
.scroll-bar:horizontal,
.scroll-bar:vertical{
    -fx-background-color: transparent;
}

.scroll-bar .track,
.scroll-bar .track{
    -fx-background-color: rgb(244,244,244);
    -fx-border-color: transparent;

}

.scroll-bar .increment-button,
.scroll-bar .decrement-button{
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}
.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}


.scroll-bar .thumb{
    -fx-background-color :derive(black,90.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 5;
}

.scroll-bar:focused{
    -fx-faint-focus-color: rgb(227,227,227);
    -fx-focus-color: rgb(227,227,227);
}

